include AUTHORS.txt
include LICENSE.txt
include README.rst
include MANIFEST.in
recursive-include fack/fixtures *
recursive-include fack/templates *
recursive-include docs *.rst *.py *.bat Makefile
recursive-include example *.py *.html